.profile__container {
  display: flex;
  justify-content: center;
}
.profile__form {
  padding: 70px 0 40px;
  max-width: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__title {
  margin: 0 0 80px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.profile__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1px;
  width: 100%;
}
.profile__text {
  width: 100%;
  margin: 0;
  padding: 0 0 16px;
  box-sizing: border-box;
  color: #fff;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid #424242;
}
.profile__text:first-of-type {
  grid-row-start: 1;
  grid-column-start: 1;
}
.profile__text:last-of-type {
  padding: 16px 0 0;
  grid-row-start: 2;
  grid-column-start: 1;
  border: none;
}
.profile__value {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid #424242;
}
.profile__value:last-of-type {
  border: none;
}
.profile__value_type_name {
  grid-row-start: 1;
  grid-column-start: 2;
}
.profile__value_type_email {
  padding: 16px 0 0;
  grid-row-start: 2;
  grid-column-start: 2;
  justify-content: flex-end;
}
.profile__value-input {
  width: 100%;
  margin: 0;
  padding: 0;
  /* outline: none; */
  border: none;
  color: #fff;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
}
.profile__button {
  position: relative;
  margin: 379px 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.profile__button-edit:hover {
  opacity: 0.8;
  cursor: pointer;
}
.profile__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}
.profile__button-edit {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  transition: opacity 0.3s linear;
}
.profile__button-save {
  padding: 13px 90px 15px 90px;
  border-radius: 3px;
  background: #4285f4;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}
.profile__button-save:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}
.profile__link {
  color: #ee3465;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: opacity 0.3s linear;
}
.profile__link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.profile__error {
  color: #ee3465;
  text-align: center;
  position: absolute;
  bottom: 65px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
}
.profile__error_visible {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .profile__form {
    max-width: 410px;
    padding: 236px 0 70px;
  }
  .profile__title {
    margin: 0 0 96px;
  }
  .profile__button {
    margin: 210px 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .profile__form {
    padding: 74px 0 70px;
  }
  .profile__title {
    margin: 0 0 123px;
  }
  .profile__button {
    margin: 220px 0 0px;
    font-size: 13px;
  }
  .profile__link {
    font-size: 13px;
  }
  .profile__button-edit {
    font-size: 13px;
  }
  .profile__button-save {
    padding: 13px 168px 15px 167px;
  }
}
