.portfolio {
  padding: 70px 0 0;
}
.portfolio__title {
  color: #a0a0a0;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.portfolio__list {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
}
.portfolio__list-item {
  padding: 20px 0 19px;
  border-bottom: 1px solid #e6e6e6;
}
.portfolio__list-item:last-child {
  border-bottom: none;
}
.portfolio__link {
  display: flex;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s linear;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.72px;
  display: flex;
  justify-content: space-between;
}
.portfolio__link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.portfolio__img {
  width: 100%;
  max-width: 10px;
  margin-right: 5px;
}
.portfolio__name {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding: 91px 0 0;
  }
  .portfolio__title {
    font-size: 18px;
    line-height: 20px; /* 111.111% */
  }
  .portfolio__link {
    /* background-size: 27px; */
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 178.571% */
    letter-spacing: -1.12px;
  }
  .portfolio__img {
    /* width: 27px; */
    max-width: 15px;
    margin-right: 6px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio {
    padding: 0;
    padding-top: 101px;
  }
  .portfolio__title {
    margin: 0;
    color: #8b8b8b;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
  }
  .portfolio__list {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    list-style: none;
  }
  .portfolio__list-item {
    padding: 20px 0 19px;
    border-bottom: 1px solid#424242;
  }
  .portfolio__list-item:last-child {
    border-bottom: none;
  }
  .portfolio__link {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: -1.2px;
    /* background-size: 29px; */
  }
  .portfolio__link:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .portfolio__img {
    /* width: 29px; */
    max-width: 16px;
    margin-right: 7px;
  }
}
