.promo {
  display: flex;
  justify-content: space-between;
  background-color: #073042;
  padding: 75px 0px;
}
.promo__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  width: calc(100% - 28px);
  margin: 0 auto;
}
.promo__description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.promo__title {
  max-width: 640px;
  margin: 0;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}
.promo__text {
  max-width: 310px;
  margin: 0;
  margin-top: 36px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.promo__link {
  margin-top: 146px;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #fff;
  opacity: 0.6;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  transition: opacity 0.3s linear;
}
.promo__link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.promo__logo {
  align-self: flex-start;
  width: 310px;
  height: 304px;
}

@media screen and (min-width: 768px) {
  .promo__wrapper {
    width: calc(100% - 60px);
  }
}

@media screen and (min-width: 1280px) {
  .promo__wrapper {
    width: calc(100% - 140px);
  }
}

@media screen and (max-width: 768px) {
  .promo {
    flex-direction: column-reverse;
    align-items: center;
    padding: 140px 0 76px;
  }
  .promo__wrapper {
    flex-direction: column-reverse;
  }
  .promo__description {
    align-items: center;
    text-align: center;
  }
  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 50px;
    margin-top: 48px;
  }
  .promo__text {
    max-width: 260px;
    margin-top: 22px;
  }
  .promo__link {
    margin-top: 92px;
  }
  .promo__logo {
    align-self: center;
  }
}

@media screen and (max-width: 350px) {
  .promo {
    padding: 70px 0 30px;
  }
  .promo__title {
    max-width: 300px;
    font-size: 30px;
    font-style: normal;
    line-height: 38px; /* 126.667% */
    letter-spacing: -1.2px;
    margin-top: 44px;
  }
  .promo__text {
    margin-top: 24px;
  }
  .promo__link {
    margin-top: 80px;
  }
  .promo__logo {
    width: 210px;
    height: 206px;
  }
}
